<!doctype html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <title>{% block page_title %}{% if page_title %}{{ page_title }}{% else %}日志{% endif %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/github.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block css %}{% endblock %}

</head>
<body class="box">

<nav class="nav-menu">
    <ul>
        <li><a href="{{ url_for('home') }}">首页</a></li>
        <li><a href="{{ git_path }}">源码</a></li>
    </ul>
</nav>

<div class="{% block content_class %}container{% endblock content_class %}">

    <div class="content" role="main">
        {% block content %}{% endblock %}
    </div>

</div><!-- end container -->
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>