/* Layout */


.box {
    width: 900px;
    margin: 40px auto;
}

body {
    font-size: 14px;
    font-weight: 300;
}

nav ul, nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 10px;
}

nav ul li a {
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
}